--
-- PostgreSQL database dump
--

\restrict PfcOVqlmfZXNQ2qLUVUGgMdfoeDa6Dz4ZPeyPK4dkcCqfXksSUykMI5pD7vcEjz

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: user_roles; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_roles AS ENUM (
    'admin',
    'employee',
    'student',
    'representative'
);


ALTER TYPE public.user_roles OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: contact_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_messages (
    id integer NOT NULL,
    name character varying,
    email character varying,
    mobile character varying,
    message text
);


ALTER TABLE public.contact_messages OWNER TO postgres;

--
-- Name: contact_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.contact_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.contact_messages_id_seq OWNER TO postgres;

--
-- Name: contact_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.contact_messages_id_seq OWNED BY public.contact_messages.id;


--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    id integer NOT NULL,
    member_id integer,
    organization_name character varying,
    industry character varying,
    department character varying,
    designation character varying,
    company_website character varying,
    working_location character varying,
    company_strength character varying,
    employee_id character varying,
    experience integer,
    id_card_front character varying,
    id_card_back character varying,
    referral_id character varying,
    official_email character varying,
    email_otp character varying,
    user_email character varying,
    password character varying
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.employees_id_seq OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employees_id_seq OWNED BY public.employees.id;


--
-- Name: members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.members (
    id integer NOT NULL,
    membership_id character varying DEFAULT 'AUTO_GEN'::character varying NOT NULL,
    full_name character varying NOT NULL,
    gender character varying,
    dob date,
    state character varying,
    district character varying,
    pincode character varying,
    email character varying NOT NULL,
    mobile character varying,
    blood_group character varying,
    whatsapp_notification boolean,
    candidate_type character varying,
    profile_pic character varying,
    password_hash character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    role character varying DEFAULT 'user'::character varying
);


ALTER TABLE public.members OWNER TO postgres;

--
-- Name: members_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.members_id_seq OWNER TO postgres;

--
-- Name: members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.members_id_seq OWNED BY public.members.id;


--
-- Name: membership_counters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.membership_counters (
    id integer NOT NULL,
    type character varying,
    current_value integer
);


ALTER TABLE public.membership_counters OWNER TO postgres;

--
-- Name: membership_counters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.membership_counters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.membership_counters_id_seq OWNER TO postgres;

--
-- Name: membership_counters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.membership_counters_id_seq OWNED BY public.membership_counters.id;


--
-- Name: otp_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.otp_verifications (
    id integer NOT NULL,
    email character varying NOT NULL,
    otp character varying NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    is_used boolean,
    is_verified boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.otp_verifications OWNER TO postgres;

--
-- Name: otp_verifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.otp_verifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.otp_verifications_id_seq OWNER TO postgres;

--
-- Name: otp_verifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.otp_verifications_id_seq OWNED BY public.otp_verifications.id;


--
-- Name: representative_autonomous_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.representative_autonomous_details (
    id integer NOT NULL,
    member_id integer,
    college_name character varying,
    college_code character varying,
    designation character varying,
    department character varying,
    state character varying,
    district character varying,
    pincode character varying,
    college_address character varying,
    experience integer,
    official_mail_id character varying,
    mobile_number character varying
);


ALTER TABLE public.representative_autonomous_details OWNER TO postgres;

--
-- Name: representative_autonomous_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.representative_autonomous_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.representative_autonomous_details_id_seq OWNER TO postgres;

--
-- Name: representative_autonomous_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.representative_autonomous_details_id_seq OWNED BY public.representative_autonomous_details.id;


--
-- Name: representative_both_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.representative_both_details (
    id integer NOT NULL,
    member_id integer,
    college_name character varying,
    university_name character varying,
    college_code character varying,
    designation character varying,
    department character varying,
    state character varying,
    district character varying,
    pincode character varying,
    university_address character varying,
    experience integer,
    official_mail_id character varying,
    mobile_number character varying
);


ALTER TABLE public.representative_both_details OWNER TO postgres;

--
-- Name: representative_both_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.representative_both_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.representative_both_details_id_seq OWNER TO postgres;

--
-- Name: representative_both_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.representative_both_details_id_seq OWNED BY public.representative_both_details.id;


--
-- Name: representative_university_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.representative_university_details (
    id integer NOT NULL,
    member_id integer,
    college_name character varying,
    university_name character varying,
    college_code character varying,
    designation character varying,
    department character varying,
    state character varying,
    district character varying,
    pincode character varying,
    university_address character varying,
    experience integer,
    official_mail_id character varying,
    mobile_number character varying
);


ALTER TABLE public.representative_university_details OWNER TO postgres;

--
-- Name: representative_university_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.representative_university_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.representative_university_details_id_seq OWNER TO postgres;

--
-- Name: representative_university_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.representative_university_details_id_seq OWNED BY public.representative_university_details.id;


--
-- Name: student_autonomous_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_autonomous_details (
    id integer NOT NULL,
    member_id integer,
    college_name character varying NOT NULL,
    college_code character varying NOT NULL,
    qualification character varying NOT NULL,
    department character varying NOT NULL,
    start_year integer NOT NULL,
    end_year integer NOT NULL,
    location character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    id_front character varying,
    id_back character varying
);


ALTER TABLE public.student_autonomous_details OWNER TO postgres;

--
-- Name: student_autonomous_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.student_autonomous_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.student_autonomous_details_id_seq OWNER TO postgres;

--
-- Name: student_autonomous_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.student_autonomous_details_id_seq OWNED BY public.student_autonomous_details.id;


--
-- Name: student_university_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_university_details (
    id integer NOT NULL,
    member_id integer,
    university_name character varying NOT NULL,
    college_name character varying NOT NULL,
    college_code character varying NOT NULL,
    qualification character varying NOT NULL,
    department character varying NOT NULL,
    start_year integer NOT NULL,
    end_year integer NOT NULL,
    location character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    id_front character varying,
    id_back character varying
);


ALTER TABLE public.student_university_details OWNER TO postgres;

--
-- Name: student_university_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.student_university_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.student_university_details_id_seq OWNER TO postgres;

--
-- Name: student_university_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.student_university_details_id_seq OWNED BY public.student_university_details.id;


--
-- Name: token_blacklist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist (
    id integer NOT NULL,
    token character varying
);


ALTER TABLE public.token_blacklist OWNER TO postgres;

--
-- Name: token_blacklist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.token_blacklist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.token_blacklist_id_seq OWNER TO postgres;

--
-- Name: token_blacklist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.token_blacklist_id_seq OWNED BY public.token_blacklist.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    full_name character varying NOT NULL,
    email character varying NOT NULL,
    mobile character varying,
    password character varying,
    role public.user_roles NOT NULL,
    membership_id character varying,
    is_active boolean,
    is_approved boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: contact_messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_messages ALTER COLUMN id SET DEFAULT nextval('public.contact_messages_id_seq'::regclass);


--
-- Name: employees id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees ALTER COLUMN id SET DEFAULT nextval('public.employees_id_seq'::regclass);


--
-- Name: members id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members ALTER COLUMN id SET DEFAULT nextval('public.members_id_seq'::regclass);


--
-- Name: membership_counters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_counters ALTER COLUMN id SET DEFAULT nextval('public.membership_counters_id_seq'::regclass);


--
-- Name: otp_verifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications ALTER COLUMN id SET DEFAULT nextval('public.otp_verifications_id_seq'::regclass);


--
-- Name: representative_autonomous_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representative_autonomous_details ALTER COLUMN id SET DEFAULT nextval('public.representative_autonomous_details_id_seq'::regclass);


--
-- Name: representative_both_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representative_both_details ALTER COLUMN id SET DEFAULT nextval('public.representative_both_details_id_seq'::regclass);


--
-- Name: representative_university_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representative_university_details ALTER COLUMN id SET DEFAULT nextval('public.representative_university_details_id_seq'::regclass);


--
-- Name: student_autonomous_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_autonomous_details ALTER COLUMN id SET DEFAULT nextval('public.student_autonomous_details_id_seq'::regclass);


--
-- Name: student_university_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_university_details ALTER COLUMN id SET DEFAULT nextval('public.student_university_details_id_seq'::regclass);


--
-- Name: token_blacklist id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist ALTER COLUMN id SET DEFAULT nextval('public.token_blacklist_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
b204b99b6b73
\.


--
-- Data for Name: contact_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contact_messages (id, name, email, mobile, message) FROM stdin;
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: membership_counters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.membership_counters (id, type, current_value) FROM stdin;
1	admin	1
\.


--
-- Data for Name: otp_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: representative_autonomous_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.representative_autonomous_details (id, member_id, college_name, college_code, designation, department, state, district, pincode, college_address, experience, official_mail_id, mobile_number) FROM stdin;
\.


--
-- Data for Name: representative_both_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.representative_both_details (id, member_id, college_name, university_name, college_code, designation, department, state, district, pincode, university_address, experience, official_mail_id, mobile_number) FROM stdin;
\.


--
-- Data for Name: representative_university_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.representative_university_details (id, member_id, college_name, university_name, college_code, designation, department, state, district, pincode, university_address, experience, official_mail_id, mobile_number) FROM stdin;
\.


--
-- Data for Name: student_autonomous_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_autonomous_details (id, member_id, college_name, college_code, qualification, department, start_year, end_year, location, email, password_hash, id_front, id_back) FROM stdin;
\.


--
-- Data for Name: student_university_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_university_details (id, member_id, university_name, college_name, college_code, qualification, department, start_year, end_year, location, email, password_hash, id_front, id_back) FROM stdin;
\.


--
-- Data for Name: token_blacklist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.token_blacklist (id, token) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: contact_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.contact_messages_id_seq', 1, false);


--
-- Name: employees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_id_seq', 2, true);


--
-- Name: members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.members_id_seq', 8, true);


--
-- Name: membership_counters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.membership_counters_id_seq', 1, true);


--
-- Name: otp_verifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.otp_verifications_id_seq', 21, true);


--
-- Name: representative_autonomous_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.representative_autonomous_details_id_seq', 1, false);


--
-- Name: representative_both_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.representative_both_details_id_seq', 1, false);


--
-- Name: representative_university_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.representative_university_details_id_seq', 1, false);


--
-- Name: student_autonomous_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_autonomous_details_id_seq', 1, false);


--
-- Name: student_university_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_university_details_id_seq', 1, false);


--
-- Name: token_blacklist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.token_blacklist_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: contact_messages contact_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_messages
    ADD CONSTRAINT contact_messages_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: members members_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_email_key UNIQUE (email);


--
-- Name: members members_membership_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_membership_id_key UNIQUE (membership_id);


--
-- Name: members members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_pkey PRIMARY KEY (id);


--
-- Name: membership_counters membership_counters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_counters
    ADD CONSTRAINT membership_counters_pkey PRIMARY KEY (id);


--
-- Name: membership_counters membership_counters_type_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_counters
    ADD CONSTRAINT membership_counters_type_key UNIQUE (type);


--
-- Name: otp_verifications otp_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications
    ADD CONSTRAINT otp_verifications_pkey PRIMARY KEY (id);


--
-- Name: representative_autonomous_details representative_autonomous_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representative_autonomous_details
    ADD CONSTRAINT representative_autonomous_details_pkey PRIMARY KEY (id);


--
-- Name: representative_both_details representative_both_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representative_both_details
    ADD CONSTRAINT representative_both_details_pkey PRIMARY KEY (id);


--
-- Name: representative_university_details representative_university_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representative_university_details
    ADD CONSTRAINT representative_university_details_pkey PRIMARY KEY (id);


--
-- Name: student_autonomous_details student_autonomous_details_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_autonomous_details
    ADD CONSTRAINT student_autonomous_details_email_key UNIQUE (email);


--
-- Name: student_autonomous_details student_autonomous_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_autonomous_details
    ADD CONSTRAINT student_autonomous_details_pkey PRIMARY KEY (id);


--
-- Name: student_university_details student_university_details_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_university_details
    ADD CONSTRAINT student_university_details_email_key UNIQUE (email);


--
-- Name: student_university_details student_university_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_university_details
    ADD CONSTRAINT student_university_details_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist token_blacklist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist
    ADD CONSTRAINT token_blacklist_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist token_blacklist_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist
    ADD CONSTRAINT token_blacklist_token_key UNIQUE (token);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_membership_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_membership_id_key UNIQUE (membership_id);


--
-- Name: users users_mobile_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_mobile_key UNIQUE (mobile);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_contact_messages_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_contact_messages_id ON public.contact_messages USING btree (id);


--
-- Name: ix_employees_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_employees_id ON public.employees USING btree (id);


--
-- Name: ix_members_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_members_id ON public.members USING btree (id);


--
-- Name: ix_student_autonomous_details_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_student_autonomous_details_id ON public.student_autonomous_details USING btree (id);


--
-- Name: ix_student_university_details_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_student_university_details_id ON public.student_university_details USING btree (id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: representative_autonomous_details representative_autonomous_details_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representative_autonomous_details
    ADD CONSTRAINT representative_autonomous_details_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id);


--
-- Name: representative_both_details representative_both_details_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representative_both_details
    ADD CONSTRAINT representative_both_details_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id);


--
-- Name: representative_university_details representative_university_details_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representative_university_details
    ADD CONSTRAINT representative_university_details_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id);


--
-- Name: student_autonomous_details student_autonomous_details_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_autonomous_details
    ADD CONSTRAINT student_autonomous_details_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id) ON DELETE CASCADE;


--
-- Name: student_university_details student_university_details_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_university_details
    ADD CONSTRAINT student_university_details_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict PfcOVqlmfZXNQ2qLUVUGgMdfoeDa6Dz4ZPeyPK4dkcCqfXksSUykMI5pD7vcEjz

